* {
    margin: 0;
    padding: 0;
    --advent: 'Fredoka One', cursive;
    --poppins: 'Poppins', sans-serif;
    scrollbar-width: none;
}
body{
    background: #eff6e0;
   padding: 10px;
}

h1 {
    font-family: var(--advent);
    text-align: center;

    margin:30px;
    color: #124559;
}
.corps {
display: flex;
justify-content: space-around;
align-items: center;
}
.image{
    width:500px;
    height:500px;
display:flex;
justify-content: center;
align-items: center;
}
.img{
    border-radius: 10px;
    border: 2px solid #01161e;
    overflow: hidden;
    width:300px;
    height:450px;
}
.video{
    width:500px;
    height:300px;
border-radius: 5px;
overflow: hidden;
}

 h2{
    font-family: var(--advent);
    font-size: 1.5rem;
 }
.paroles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 500px;
   height: 500px;
    font-family: var(--poppins);
 
padding: 5px;
    font-size: 0.7rem;
    color: #124559;
    overflow: auto;
}
.paroles::-webkit-scrollbar{
    width:1.2rem;
}
.paroles::-webkit-scrollbar-track{
background: #598392;
border-radius: 10px;
}
.paroles::-webkit-scrollbar-thumb{
    background: #124559;
    border-radius: 10px;
}

.buttonbtn{
    position: absolute;
    bottom: 70px;
    left:50%;
    width:160px;
    height: 60px;;
    border-radius: 10px;
    background: rgb(1, 22, 30);
    background: linear-gradient(145deg, #01161e 0%, #124559 44%, #598392 100%);
    border: none;
color: #EFF6E0;
font-family: var(--poppins);
text-align: center;
transform: translate(-50%, -50%);
 }
 .buttonbtn:hover {
background: #eff6e0;
border:inset 2px  #124559;
color: #124559;
 }
 a{
    text-decoration: none;
    color: #EFF6E0;
transition:.4s;
 }
 .buttonbtn:hover a{
    color: #124559;
letter-spacing: 1.2px;
 }