:root {
    --advent: 'Advent Pro', sans-serif;
    --poppins: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #eff6e0;
}

h1 {
    font-family: var(--advent);
    text-transform: uppercase;
    text-align: center;
    color: #01161e;
    margin-top: 100px;
}



.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin-top: 100px;
}

.card  {
    position: relative;
    display: flex;
    min-width: 300px;
    height: 450px;
    margin: 40px;
    justify-content: center;
    align-items: center;
    list-style: none;
    transform-style: preserve-3d;
    transition: .5s;

}

.card .fnb {
    display: flex;
    position: absolute;
    border-radius: 5%;

    width: 100%;
    height: 100%;

transform-style: preserve-3d;
backface-visibility: hidden;
transition:1.7s;
transform: perspective(500px) rotatey(0deg);

}
.front-face{
    justify-content: center;
    align-items: center
}
.back-face{
    justify-content: center;
align-items: flex-start;
}

.card .fnb.front-face{
    background: rgb(1, 22, 30);
    background: linear-gradient(145deg, #01161e 0%, #124559 44%, #598392 100%);
 }
.card .fnb.back-face {
    border:inset 2px  #124559;

    transform: perspective(500px) rotatey(180deg);
}



.card:hover .fnb.front-face{
    transform: perspective(500px) rotatey(180deg);
}
.card:hover .fnb.back-face{
    transform: perspective(500px) rotatey(360deg);
}
.card:hover .buttonbtn {
    transform: perspective(500px) translateZ(50px) translatex(30px);
}

.bf1 {
    background: url(/assets/image/otis-redding.jpg) 
}
.bf2 {
    background: url(/assets/image/bob-marley.jpg) no-repeat center ;
    background-size: contain;
}

.bf3 {
    background: url(/assets/image/iam.jpg) no-repeat center;
    background-size: cover;

}
.bf4{
    background: url(/assets/image/carmen.jpg);
}
.bf5{
    background: url(/assets/image/tone-and-i.jpg);
}

.bf6{
    background: url(/assets/image/greenday.jpg);
    background-size: contain;
}
.bf7{
    background: url(/assets/image/cheb-mami.jpg) no-repeat;
    background-size: cover;

}
h2 {
    color: #aec3b0;
    text-decoration: none;
    font-family: var(--poppins);
    font-size: 44px;
    transform: perspective(500px) translateZ(70px);

}
h3{
    font-size: 0.9rem;
    margin:30px;
    transform: perspective(500px) translateZ(50px);
    text-align: center;
}
.contraste{
    background:#eff6e083 ;
    border-radius: 3px;
    padding:3px;
}
 .buttonbtn{
    position: absolute;
    bottom: 70px;
    right:30px;
    width:150px;
    padding: 10px;
    border-radius: 10px;
    background: rgb(1, 22, 30);
    background: linear-gradient(145deg, #01161e 0%, #124559 44%, #598392 100%);
    border: none;
    transform: perspective(500px) translateZ(50px);
transition: .4s ease-out;
color: #EFF6E0;
font-family: var(--poppins);
text-align: center;
 }

 .buttonbtn:hover {
background: #eff6e0;
border:inset 1px  #124559;
color: #124559;
letter-spacing: 1.5px;
 }